/** @format */

body {
	padding: 0;
	margin: 0;
}

.skilllogo {
	width: 4rem;
	margin: 10px;
}
#leaveBG {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5;
}
#leaving {
	position: absolute;
	text-align: center;
	z-index: 1;
	right: 20%;
	top: 25%;
	background-color: rgb(255, 255, 255);
	/* color: white; */
	width: 60%;
	height: 25%;
	border-radius: 10px;
}
#hrleave {
	background-color: white;
}
#pleaving {
	font-size: 30px;
}

#thankypu {
	font-size: 40px;
}
#thankyoutext {
	font-size: 23px;
}
